# Nixpacks configuration for Railway

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install -g pnpm", "pnpm install"]

[phases.build]
cmds = ["pnpm build"]

[start]
cmd = "node dist/src/main.js"

